main{
    display: flex;
    flex-direction: row;
    align-content: space-;
}
header h2{
    padding-left: 77px;
    padding-top: 40px;
}

.image-container img{
    width: 500.22px;
    height: 400.25px;
}
.main-contenido{
    margin: 0 100px;
}
.main-texto p{
    width:381px ;
}
