main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header h2{
    padding-left: 77px;
    padding-top: 40px;
}
main{
    padding-bottom: 55px;
}
.image-container #imagenleft{
    width: 400px;
    height: 400px;
}
.main-contenido{
    margin: 0 100px;
}
.main-texto p{
    width:381px ;
}
