*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Space Mono',sans-serif;
    color: #333333;
    height: auto;
}
header{
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 60px;
   

}
header h2{
    padding-top:20px ;
    padding-left: 24px;
    font-family: 'Inconsolata',sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 25,18px;
}
main{
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;

}
.image-container{
    display: flex;
    align-content: center;
}
main #imagenleft{ 
    width: 286px;
    height: 238px;
    margin: 0 auto;

}
main .main-texto{
    height: auto;
    margin-bottom: 66px;
    padding-left: 24px;
}
.main-texto h1{
font-weight: 700;
font-size: 48px;
margin-bottom: 30px;
}
.main-texto p{
font-weight: 400;
font-size: 18px;
color: #4F4F4F;
}

.botones{
    display: flex;
    justify-content: flex-start;
}
.boton button{
    border-radius: 10px;
    padding: 10px 10px;
    font-weight: 700;
    size: 14px;
    line-height: 20px;
    background-color: #333333;
    
    margin-left: 24px;
    cursor: pointer;
}
footer{
    width: 100%;
    text-align: center;
    

}
footer p{
    padding: 24px 42px;
    align-self: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: #BDBDBD;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    width:100px ;
    height:100px ;
    color: white;
}